@import "tailwindcss";
@plugin "daisyui" {
	themes: all;
}

/* :root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */
:root {
	--c1: #171717;
	--c2: #0f2027;
	--c3: #302b63;
	--c4: #130406;
}

#gradient-bg {
	background: linear-gradient(
		225deg,
		var(--c1),
		var(--c2),
		var(--c3),
		var(--c4)
	);
	background-size: 300% 300%;
}

body {
	/* background: var(--background);
	color: var(--foreground); */
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.scrollbar-hidden {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none; /* Chrome/Safari */
}

.mask-gradient-bottom {
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.7) 70%,
		transparent 100%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.76) 70%,
		transparent 100%
	);
}

.fade-in-init {
	/* opacity: 0; */
	transform: translateY(40px);
	visibility: hidden;
}
